{% load static wagtailcore_tags wagtailuserbar  menu_tags cache %}
{% get_menu "main" as navigation %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">
        
        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Website</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                    </li>
                    {%comment%}
                    {% for item in navigation.menu_items.all %}
                        <li>
                            <a href="{{ item.link }}" class="nav-link"{% if item.open_in_new_tab %} target="_blank"{% endif %}>{{ item.title }}</a>
                        </li>
                    {% endfor %}
                    {%endcomment%}
                    {% cache 604800 navigation %}
                        {% for item in navigation.menu_items.all %}
                            <li>
                                <a href="{{ item.link }}" class="nav-link"{% if item.open_in_new_tab %} target="_blank"{% endif %}>{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    {% endcache %}
                </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            
            </div>
          </nav>
        {% block content %}{% endblock %}
{%comment%}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% if settings.site_settings.SocialMediaSettings.facebook %}
                        <a href="{{ settings.site_settings.SocialMediaSettings.facebook }}">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    {% endif %}
                    {% if settings.site_settings.SocialMediaSettings.twitter %}
                        <a href="{{ settings.site_settings.SocialMediaSettings.twitter }}">
                            <i class="fab fa-twitter"></i>
                        </a>
                    {% endif %}
                    {% if settings.site_settings.SocialMediaSettings.youtube %}
                        <a href="{{ settings.site_settings.SocialMediaSettings.youtube }}">
                            <i class="fab fa-youtube"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
{%endcomment%}

        {% cache 604800 footer %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% if settings.site_settings.SocialMediaSettings.facebook %}
                        <a href="{{ settings.site_settings.SocialMediaSettings.facebook }}">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    {% endif %}
                    {% if settings.site_settings.SocialMediaSettings.twitter %}
                        <a href="{{ settings.site_settings.SocialMediaSettings.twitter }}">
                            <i class="fab fa-twitter"></i>
                        </a>
                    {% endif %}
                    {% if settings.site_settings.SocialMediaSettings.youtube %}
                        <a href="{{ settings.site_settings.SocialMediaSettings.youtube }}">
                            <i class="fab fa-youtube"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endcache %}

        {# Global javascript #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
