{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags cache %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>
    <a href="{% routablepageurl page "latest_posts" %}">View Latest Posts Only</a>
    <h2>special link is {{ a_special_link }}</h2>
    {% for post in page.get_children %}
        {% cache 604800 blog_post_preview post.id %}
            {% with post=post.specific %}
                <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>

                {% with post.main_image as main_image %}
                    {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
                {% endwith %}

                <p>{{ post.intro }}</p>
                {{ post.body }}
            {% endwith %}
        {% endcache %}
    {% endfor %}
    <h2>
        Categories:
        <small>
            {% for cat in categories %}
                {%comment%}<a href="?category={{ cat.slug }}">{% endcomment %}
                <a href="{% routablepageurl page "category_view" cat.slug %}">
                    {{ cat.name }}
                </a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </small>
    </h2>
    {% for entry in blog_entries %}
        {{ entry.title }}
    {% endfor %}

    {% for post in blogpages %}
        
    {% endfor %}

    {# Only show pagination if there is more than one page to click through #}
    {% if blogpages.paginator.num_pages > 1 %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pagination">
                        {% if blogpages.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ blogpages.previous_page_number }}" class="page-link">
                                    <span>&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for page_num in blogpages.paginator.page_range %}
                            <li class="page-item {% if page_num == blogpages.number %} active{% endif %}">
                                <a href="?page={{ page_num }}" class="page-link">
                                    {{ page_num }}
                                </a>
                            </li>
                        {% endfor %}

                        {% if blogpages.has_next %}
                            <li class="page-item">
                                <a href="?page={{ blogpages.next_page_number }}" class="page-link">
                                    <span>&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    

{% endblock %}